absl-py
aiohttp
aiosignal
allennlp
async-timeout
asynctest
attrs
blis
boto3
botocore
cachetools
catalogue
certifi
charset-normalizer
click
cymem
exceptiongroup
filelock
frozenlist
fsspec
future
google-auth
google-auth-oauthlib
grpcio
h5py
idna
importlib-metadata
iniconfig
jmespath
joblib
jsonnet
jsonpickle
Markdown
MarkupSafe
multidict
murmurhash
nltk
numpy
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
oauthlib
overrides
packaging
pandas
Pillow
plac
pluggy
preshed
protobuf
pyasn1
pyasn1-modules
pyDeprecate
pyparsing
pytest
python-dateutil
pytorch-lightning
pytz
PyYAML
regex
requests
requests-oauthlib
rsa
s3transfer
sacremoses
scikit-learn
scipy
sentencepiece
six
spacy
srsly
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorboardX
thinc
threadpoolctl
tokenizers
tomli
torch
torchmetrics
tqdm
transformers
typing_extensions
urllib3
wasabi
Werkzeug
yarl
zipp
